<h2>Dolgozók</h2>

<button class="btn btn-primary" (click)="startShowModal()">
  Hozzáadás
</button>

<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Név</th>
        <th>Település</th>
        <th>Fizetés</th>
      </tr>
    </thead>
    <tbody>
      @for( emp of employees ; track emp.id ) {
      <tr>
        <td>{{emp.id}}</td>
        <td>{{emp.name}}</td>
        <td>{{emp.city}}</td>
        <td>{{emp.salary}}</td>
        <td>
          <button (click)="deleteEmployee(emp.id)"
          class="btn btn-danger">
            <i class="bi bi-trash3"></i>
          </button>
        </td>
        <td>
          <button (click)="editEmployee()"
          class="btn btn-secondary">
            <i class="bi bi-pencil-square"></i>
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>




@if(showModal) {


<!-- Modal -->
<div class="modal" id="exampleModal" 
tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
style="display: block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Hozzáadás</h1>
        <button type="button" class="btn-close" 
         aria-label="Close" (click)="startCloseModal()"></button>
      </div>
      <div class="modal-body">

        
        <form [formGroup]="empForm" (ngSubmit)="save()" id="empForm">
          
          @if(!addMode) {
            <div>
              <label for="id" class="form-label">Id</label>
              <input type="text" class="form-control"
              formControlName="id" readonly>
            </div>
          }

          <div>
            <label for="name" class="form-label">Név</label>
            <input type="text" class="form-control"
            formControlName="name" id="name">
          </div>
          <div>
            <label for="city" class="form-label">Település</label>
            <input type="text" class="form-control"
            formControlName="city" id="city">
          </div>
          <div>
            <label for="salary" class="form-label">Fizetés</label>
            <input type="text" class="form-control"
            formControlName="salary" id="salary">
          </div>
          <div>
            <label for="positionId" class="form-label">Beosztás</label>
            <select class="form-select" id="positionId" 
            formControlName="positionId">
              @for( pos of positions ; track pos.id ) {
                <option value="{{pos.id}}">{{pos.name}}</option>
              }
            </select>
          </div>

        </form>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
        (click)="startCloseModal()">Bezárás</button>
        
        <button type="submit" class="btn btn-primary"
        form="empForm">Mentés</button>

      </div>
    </div>
  </div>
</div>

<div class="modal-backdrop fade show"></div>

}