<h2>Dolgozók</h2>



<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Név</th>
                <th>Település</th>
                <th>Fizetés</th>
            </tr>
        </thead>
        <tbody>
            @for( emp of employees ; track emp.id ) {
                <tr>
                    <td>{{emp.id}}</td>
                    <td>{{emp.name}}</td>
                    <td>{{emp.city}}</td>
                    <td>{{emp.salary}}</td>
                </tr>
            }
        </tbody>
    </table>
</div>





<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
